{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for court, c in courts %}
                <div class="col-xs-12 col-md-8">
                    <a href="/court/{{ court }}">{{ court }}</a>
                </div>
                <div class="col-xs-6 col-md-4">{{ c }}</div>
            {% endfor %}
        </div>
    </div>

    <nav>
        {% if page_num == 1 %}
            <ul class="pagination">
                <li class="disabled">
                    <a aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="/court/page/1">1</a></li>
                <li><a href="/court/page/2">2</a></li>
                <li><a href="/court/page/3">3</a></li>
                <li><a href="/court/page/4">4</a></li>
                <li><a href="/court/page/5">5</a></li>
                <li>
                    <a href="/court/page/2" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        {% elif page_num == 2 %}
            <ul class="pagination">
                <li>
                    <a href="/court/page/1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="/court/page/1">1</a></li>
                <li class="active"><a href="/court/page/2">2</a></li>
                <li><a href="/court/page/3">3</a></li>
                <li><a href="/court/page/4">4</a></li>
                <li><a href="/court/page/5">5</a></li>
                <li>
                    <a href="/court/page/3" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="pagination">
                <li>
                    <a href="/court/page/{{ page_num + 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="/court/page/{{ page_num - 2 }}">{{ page_num - 2 }}</a></li>
                <li><a href="/court/page/{{ page_num - 1 }}">{{ page_num - 1 }}</a></li>
                <li class="active"><a href="/court/page/{{ page_num }}">{{ page_num }}</a></li>
                <li><a href="/court/page/{{ page_num + 1 }}">{{ page_num + 1 }}</a></li>
                <li><a href="/court/page/{{ page_num + 2 }}">{{ page_num + 2 }}</a></li>
                <li>
                    <a href="/court/page/{{ page_num + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </nav>

{% endblock %}
