{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/court.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>法院排行</h2>
        <br><br>
        <div class="row">
            {% for court, c in courts %}
                <div class="col-xs-12 col-md-8 alert alert-info">
                    <a href="/court/{{ court }}/">{{ court }}</a>
                    <span class="badge">{{ c }}</span>
                </div>
                <div class="col-xs-6 col-md-4"></div>
            {% endfor %}
        </div>
    </div>

    {% import 'pagination.html' as pagination %}
    {{ pagination.pagination(page_num) }}

{% endblock %}
