{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-xs-10 col-md-6">
            <h2>最新文书</h2>
        </div>
        <div class="col-xs-8 col-md-6"> 
            <h2>最热法院</h2>
        </div>
        <div class="row">
            {% for (id, title, time), (court, c) in zip %}
                <div class="col-xs-10 col-md-6">
                    <a href="/article/{{ id }}">{{ title[:15] }}...</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    {{ time }}
                </div>
                <div class="col-xs-8 col-md-6">
                    <a href="/court/{{ court }}/page/1">{{ court }}</a>
                    <span class="badge">{{ c }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
