{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <h2>搜索结果</h2>
        <div class="row">
            {% for article in articles %}
                <div class="col-xs-0 col-md-2"></div>
                <div class="col-xs-18 col-md-12">
                    <a href="/article/{{ article.id }}">{{ article.title }}</a>
                    <br> 
                    {{ article.text[:200] }}...... 
                    <br>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    {{ article.time }}
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
